<div class="row justify-content-center">
  {% if user_movies|length == 0 and movies|length == 0 %}
  <div class="col-sm-4">
    <h2 class="text-center">No movies found</h2>
    {% if user == current_user %}
      <p id="empty-user-movies">Would you like to add some?</p>
      <div class="d-grid">
          <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('user.add_movie') }}">Add New Movie</a>
      </div>
    {% endif %}
  </div>
  {% else %}
    <ol class="movie-grid">
      {% if user_movies %}
        {% for _, movie, review in user_movies %}
          {% include "comp/movie_box.html" %}
        {% endfor %}
      {% elif movies %}
        {% for movie in movies %}
          {% include "comp/movie_box.html" %}
        {% endfor %}
      {% endif %}
    </ol>
  {% endif %}
</div>