<!-- Navigation -->
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('main.home') }}" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="{{ url_for('main.all_movies') }}" class="nav-link px-2 text-secondary">All Movies</a></li>
      </ul>

      <div class="text-end">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('user.add_movie') }}"><button type="button" class="btn btn-success">Add Movie</button></a>
            <a href="{{ url_for('auth.logout') }}"><button type="button" class="btn btn-danger me-2">Logout</button></a>
        {% else %}
            <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-success">Sign up</button></a>
        {% endif %}

      </div>
    </div>
  </div>
</header>
