{% extends "layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center mb-4">Login</h2>
      <form method="post" action="{{ url_for('auth.login') }}">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </div>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
{% endblock %}
